html {
	scroll-behavior: smooth;
}

.Menu-item,.Menu-link,.SvgIcon,body {
	position: relative;
}

* {
	box-sizing: border-box;
}

.Body a:hover,a {
	color: #b88b58;
}

.Menu-item,.Menu-link {
	transition: color .15s ease-out 0;
}

.Menu-link,a {
	text-decoration: none;
}

b,body,div,footer,h1,h3,header,html,img,nav,p,span,strong {
	background: 0 0;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	background-color: #f2f2f2;
	line-height: 1;
}

.Body:last-child>:last-child {
	margin-bottom: 0;
}

footer,header,nav {
	display: block;
}

a {
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

img {
	max-width: 100%;
}

.Body {
	font-size: 18px;
	line-height: 22px;
}

@media only screen and (min-width:48em) {
	.Body {
		font-size: 20px;
		line-height: 27px;
	}
}

.Body>* {
	font-family: sans-serif;
	max-width: 980px;
}

.Body h3,.Footer,.HeaderButton-link,.MaterialMeta,.MaterialTag,.Menu {
	font-family: sans-serif;
}

.Body p {
	margin-bottom: 15px;
}

.Body h3 {
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 12px;
	margin-top: 18px;
}

.HeaderButton-link,.Menu {
	font-weight: 600;
	text-transform: uppercase;
}

.SvgIcon {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	z-index: 1;
}

.Header,.MeduzaLogo {
	position: relative;
	z-index: 2;
}

.App-content,button {
	overflow: visible;
}

.SvgIcon--meduzaLogo {
	height: 45px;
	margin-top: -2px;
}

.Menu {
	color: #fff;
	display: none;
}

@media only screen and (min-width:64em) {
	.Menu {
		background-color: #262626;
		display: flex;
		font-size: 13px;
		height: 45px;
		justify-content: center;
		letter-spacing: 1px;
		width: 100%;
	}
}

.Menu-item {
	align-items: center;
	display: flex;
	padding: 0;
	text-align: center;
}

@media only screen and (min-width:64em) {
	.Header,.Menu-item {
		padding: 0 15px;
	}

	.Menu-item {
		border-bottom: 0;
	}

	.Menu-item:last-of-type {
		border-right: medium;
	}

	.Menu-item:hover {
		background-color: inherit;
		color: #999;
	}
}

.Menu-link {
	color: #fff;
	line-height: 45px;
	top: 1px;
}

.Menu-item:hover .Menu-link {
	color: #999;
}

.MeduzaLogo {
	background-position: center 10px;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 100%;
	left: 0;
	top: 0;
	width: 200px;
	text-align: center;
}

.Header {
	background-color: #262626;
	display: flex;
	flex-flow: row nowrap;
	height: 45px;
}

@media only screen and (max-width:63.9375em) {
	.Header .HeaderButton--chat {
		display: none;
	}
}

.Header-left {
	display: flex;
	flex-basis: 16%;
	flex-grow: 1;
	height: 100%;
}

.Header-center {
	display: none;
	height: 100%;
}

@media only screen and (min-width:64em) {
	.Header-center {
		display: flex;
		flex-grow: 2;
		justify-content: center;
	}
}

.Header-right {
	align-items: flex-start;
	display: flex;
	flex-basis: 16%;
	flex-direction: row;
	flex-grow: 1;
	height: 100%;
	justify-content: flex-end;
}

.Header-meduzaLogo {
	display: flex;
	height: 45px;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
}

@media only screen and (min-width:64em) {
	.Header-meduzaLogo {
		position: static;
	}
}

.HeaderButton {
	align-items: center;
	background: 0 0;
	border: 0;
	color: #fff;
	cursor: pointer;
	display: flex;
	fill: currentcolor;
	height: 100%;
	justify-content: center;
	margin: 0;
	min-width: 45px;
	moz-user-select: none;
	padding: 0 15px;
	position: relative;
}

.HeaderButton:active {
	outline-width: 0;
}

.HeaderButton:hover {
	color: #999;
}

.HeaderButton::after {
	border-right: 1px solid #676767;
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
}

@media only screen and (min-width:64em) {
	.HeaderButton::after {
		bottom: 10px;
		top: 10px;
	}
}

.HeaderButton-link {
	color: inherit;
	cursor: pointer;
	display: block;
	padding-top: 2px;
}

.HeaderButton-link::before {
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.HeaderButton--chat {
	font-size: 13px;
	letter-spacing: .05em;
}

.Copyright {
	line-height: 1.2;
	padding: 0 12px;
}

@media only screen and (min-width:64em) {
	.Copyright {
		padding: 0;
	}
}

.Copyright-container {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	padding: 13px 0 12px;
}

.MaterialMeta,.MaterialTag {
	display: inline-block;
}

.Copyright-container a:hover {
	color: rgba(255,255,255,.5);
}

@media only screen and (min-width:48em) {
	.Copyright-container {
		border-top: 1px solid #505050;
		flex-wrap: nowrap;
		max-width: 675px;
		padding: 10px 0 18px;
		text-align: left;
	}
}

@media only screen and (min-width:64em) {
	.Copyright-container {
		max-width: 860px;
	}
}

.Copyright-container a {
	color: #fff;
}

.Copyright-block {
	flex: 1 0 20%;
	font-size: 17px;
	padding-top: 13px;
}

@media only screen and (min-width:48em) {
	.Copyright-block {
		border-top: 0;
		padding-top: 0;
	}
}

.Copyright-block:last-child {
	text-align: right;
}

.MaterialTag {
	border: 1px solid;
	border-radius: 2px;
	color: #b88b58;
	font-weight: 700;
	line-height: 1;
	moz-user-select: none;
	position: relative;
	text-transform: uppercase;
	vertical-align: top;
	z-index: 30;
}

@media only screen and (max-width:32em) {
	.MaterialTag {
		font-size: 10px;
		height: 15px;
		letter-spacing: .5px;
		line-height: 15px;
		padding: 0 5px;
	}
}

span.MaterialTag {
	cursor: default;
	pointer-events: none;
}

button,html input[type=button] {
	cursor: pointer;
}

@media only screen and (min-width:32em) {
	.MaterialTag--medium {
		font-size: 12px;
		height: 20px;
		letter-spacing: 1px;
		line-height: 20px;
		padding: 0 7px;
	}
}

.MaterialTag--solid {
	background: #b88b58;
	border-color: #b88b58;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.MaterialMeta {
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 12px auto;
	color: grey;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	margin-right: 12px;
	padding-left: 18px;
}

@media only screen and (min-width:48em) {
	.MaterialMeta {
		font-size: 15px;
		line-height: 18px;
		margin-right: 15px;
	}
}

.MaterialMeta--time {
	background-size: 12px 12px;
}

.App,.App-content,.App-footer {
	transition: transform .25s ease-out 0s,-webkit-transform .25s ease-out 0s,-o-transform .25s ease-out 0;
}

.MediaMaterial {
	background-color: #fff;
	padding: 12px;
}

.MediaMaterial-header {
	align-items: flex-start;
	display: flex;
	flex-flow: column wrap;
	margin: 0 auto 18px;
	max-width: 650px;
}

@media only screen and (min-width:63.125em) {
	.MediaMaterial-header {
		margin-bottom: 25px;
		max-width: 1000px;
	}
}

.MediaMaterial-tag {
	margin-bottom: 5px;
}

.MediaMaterial-meta {
	margin-top: 12px;
}

@media only screen and (min-width:48em) {
	.MediaMaterial {
		padding: 25px 15px 20px;
	}

	.MediaMaterial-tag {
		margin-bottom: 11px;
	}

	.MediaMaterial-meta {
		margin-top: 12px;
	}

	.MediaMaterial--fullWidth .MediaMaterial-header {
		align-items: center;
		text-align: center;
	}
}

.MediaMaterial-materialContent {
	max-width: 650px;
	width: 100%;
}

.MediaMaterial-body {
	margin: 0 auto;
	max-width: 650px;
	position: relative;
}

@media only screen and (min-width:63.125em) {
	.MediaMaterial-body {
		max-width: 1000px;
	}
}

.MediaMaterial--fullWidth .MediaMaterial-materialContent {
	max-width: none;
}

.Material {
	padding: 12px 0 0;
}

.Material-shadow {
	background-color: rgba(0,0,0,.15);
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 300;
}

.App-content,.App-footer {
	position: relative;
	z-index: 1;
}

.Material-shadow--top {
	top: 0;
}

.Material-container {
	background: #fff;
	position: relative;
}

@media only screen and (min-width:48em) {
	.Material {
		padding: 15px 0 0;
	}

	.Body h3 {
		font-size: 26px;
		line-height: 27px;
		margin-bottom: 10px;
		margin-top: 35px;
	}
}

.MaterialContent--bannerless .Body>* {
	margin-left: auto;
	margin-right: auto;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.App-content {
	background-color: #f2f2f2;
	flex: 1 0 auto;
}

.App-header {
	position: relative;
	z-index: 200;
}

.App--isMaterial .App-content {
	background-color: #e6e6e6;
}

.Footer {
	background-color: #252525;
	color: #999;
}

.ava-img {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	width: 50px;
}

.Body a {
	box-shadow: 0 -1px #b88b58 inset;
	color: #00f;
}

.Body a:hover {
	box-shadow: none;
}

html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

footer,header,main,nav {
	display: block;
}

a {
	background: 0 0;
}

a:active,a:hover {
	outline: 0;
}

b,strong {
	font-weight: 700;
}

h1 {
	font-size: 2em;
	margin: .67em 0;
}

img {
	border: 0;
}

button,input,textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	text-transform: none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

.contentBox {
	line-height: 1.5;
}

.contentBox p {
	padding-bottom: 10px;
	padding-top: 10px;
}

.contentBox h1 {
	font-size: 27px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 10px;
	margin-top: 20px;
}

.contentBox h2 {
	line-height: 1.4;
	margin-bottom: 10px;
	margin-top: 10px;
}

.blue-horizontal-box {
	background: #e5f2ff;
	color: #165391;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 2%;
	width: 96%;
}

.red-horizontal-box {
	background: #fee;
	color: #9f0d0d;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 2%;
	width: 96%;
}

.left-img-box {
	background: #dadada;
	color: #000;
	float: left;
	margin-bottom: 10px;
	font-size: 18px;
	margin-top: 10px;
	padding: 2%;
	width: 100%;
}

.left-img-box p {
	margin: 0;
	padding: 0;
}

.left-img-box img {
	float: left;
	height: auto;
	margin-right: 20px;
	max-width: 350px!important;
	width: 100%;
}

a {
	box-shadow: none!important;
	text-decoration: none!important;
}

.Body p {
	margin-bottom: 0;
}

.contentBox span,a,h1,h2,h3,p {
	font-family: sans-serif!important;
}

.comment-box {
	border-bottom: 1px solid rgba(0,0,0,.15);
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.comment-profile-box {
	margin-bottom: 7px;
}

.MediaMaterial-header {
	display: block;
	text-align: center;
}

.lead-form-box {
	background: #fff;
	background-image: url(../img/formbg.jpg);
	background-image: url(../img/formbg.webp);
	background-position: top 0 right 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-bottom: 1px solid #dacec6;
	box-shadow: 0 4px 15px 0 rgba(129,150,160,.15);
	box-sizing: border-box!important;
	font-family: sans-serif;
	max-width: 600px;
	padding: 20px;
}

.fields-box {
	margin: auto;
	max-width: 320px;
	width: 100%;
}

#lead-form input {
	background: #fff!important;
	border: 2px solid #e9d7dc;
	border-radius: 5px!important;
	box-sizing: border-box!important;
	font-size: 17px!important;
	font-weight: 400!important;
	margin: 0!important;
	padding: 15px!important;
	width: 100%!important;
}

#lead-form-result {
	background-color: #f2dede;
	border: 1px solid #ebccd1;
	border-radius: 3px;
	box-sizing: border-box;
	color: #a94442;
	display: none;
	font-size: 15px;
	padding: 7px;
	width: 100%;
}

.name-field,.phone-field {
	margin-bottom: 10px;
	text-align: left;
}

.name-field label,.phone-field label {
	color: #333!important;
	font-size: 12px!important;
	font-weight: 700!important;
	text-transform: uppercase!important;
}

.lead-form-box h2 {
	border: none;
	color: #000!important;
	line-height: 32px!important;
	margin: 20px 0 0!important;
	padding: 0!important;
}

.lead-form-box label {
	display: block;
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
	width: 100%;
}

.lead-form-box span {
	font-size: 12px;
}

#send-lead {
	background: #0299ff;
	border: none;
	border-radius: 5px;
	box-shadow: 0 4px 25px 0 rgba(129,150,160,.45);
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	font-weight: 700!important;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 15px;
	text-shadow: 1px 3px 3px rgba(0,0,0,.1);
	text-transform: uppercase;
	width: 100%;
}

@media screen and (max-width:600px) {
	.lead-form-box {
		background-image: url(../img/formbg.jpg);
		background-image: url(../img/formbg.webp);
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto 100%;
		border-left: 1px solid #dacec6;
		border-right: 1px solid #dacec6;
	}
}

@media screen and (max-width:400px) {
	.fields-box {
		padding: 10px;
	}

	.lead-form-box {
		padding: 10px;
	}

	#send-lead {
		padding: 10px;
	}
}

.myh4,.rub-ramka a {
	text-transform: uppercase;
}

.rub-ramka {
	background: rgba(3,224,0,.04);
	border: 4px double rgba(21,160,37,.32);
	border-radius: 2px;
	color: #4a4a4a;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	margin: 0 auto;
	max-width: 86%;
	padding: 6px 13px!important;
}

.myh4 {
	background-color: #f5fef5;
	background-image: -ms-repeating-linear-gradient( 0deg,#bfe6bf 0,rgba(3,224,0,0.04) 100% );
	background-image: repeating-linear-gradient(90deg,#bfe6bf 0,#f5fef5 100%);
	background-image: -webkit-repeating-linear-gradient( 0deg,#bfe6bf 0,#f5fef5 100% );
	border: 1px dotted #e2e2e2;
	border-radius: 2px;
	border-right: none;
	color: #3a753a;
	display: table;
	font-size: 14px;
	font-weight: 600;
	line-height: 23px;
	margin-bottom: 9px;
	margin-left: -3px;
	margin-top: 5px;
	padding: 6px 4px 4px 5px;
	width: 100%;
}

.rub-ramka a {
	border-bottom: 1px dashed;
	color: #ce5353;
	font-size: 15px;
	font-weight: 400;
	margin-left: 2px;
	margin-right: 2px;
	padding-bottom: 1px;
	text-decoration: none;
	text-shadow: 0 0 0;
}

@media screen and (max-width:1020px) {
	.rub-ramka {
		max-width: 95%;
	}
}

#push-comments #push_mlyjekpdfdd1 {
	background-color: #f0f0f0;
	box-sizing: border-box;
	font-family: sans-serif;
	padding: 3rem 2rem;
	transition: 1s;
	width: 100%;
}

#push-comments #push_mlyjekpdfdd1__form {
	box-sizing: border-box;
	margin: auto;
	max-width: 600px;
}

#push-comments #push_mlyjekpdfdd1__title {
	border-bottom: 0 solid;
	box-shadow: 1px 4px 10px -7px #ccc;
	color: #43a047;
	display: inline-block;
	font-size: 24px;
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 16px;
	margin-top: 0;
}

#push-comments #push_mlyjekpdfdd1__message {
	border: 1px solid #43a047;
	box-shadow: 0 2px 4px -3px #237a27;
	box-sizing: border-box;
	font-size: 16px;
	height: 120px;
	padding: 10px 20px;
	width: 100%;
}

#push-comments #push_mlyjekpdfdd1__submit {
	background: #43a047;
	border: none;
	border-radius: 25px;
	box-shadow: 0 2px 4px -3px #000;
	color: #fff;
	cursor: pointer;
	display: table;
	font-size: 18px;
	height: 50px;
	margin: 20px 0 0;
	max-width: 280px;
	text-align: center;
	text-shadow: 0 0 1px #237a27;
	transition: .5s;
	width: 100%;
}

#push-comments #push_mlyjekpdfdd1__submit:hover {
	background: #237a27;
	box-shadow: none;
	text-shadow: none;
}

.prices {
	display: flex;
	justify-content: center;
}

.prices div {
	padding: 10px;
}

.prices span {
	font-size: 22px;
	font-weight: 700;
}

.oldprice {
	position: relative;
	color: red;
}

.oldprice::after {
	content: '';
	position: absolute;
	top: 28px;
	left: 0;
	height: 2px;
	background: #000;
	width: 100%;
}

.newprice {
	color: #00e600;
}

@media screen and (min-width:0\0) {
	.lead-form-box {
		background: #fff;
		background-image: url(../img/formbg.jpg);
		background-position: top 0 right 0;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		border-bottom: 1px solid #dacec6;
		box-shadow: 0 4px 15px 0 rgba(129,150,160,.15);
		box-sizing: border-box!important;
		font-family: sans-serif;
		max-width: 600px;
		padding: 20px;
	}
}

.prod {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

@media screen and (max-width:700px) {
	.prod1 {
		display: block;
		margin-left: auto;
		margin-right: auto!important;
		padding: 0;
		float: none!important;
		text-align: center;
	}
}
